/* ******************************* */
/* HEADER */
/* ******************************* */

.header {
  display: flex;
  padding: 1.2rem 2.4rem;
  justify-content: space-between;
  align-items: center;

  background-color: #f8f9fa;
}

.logo-header {
  height: 6.4rem;
}

/* ******************************* */
/* NAVIGATION */
/* ******************************* */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #333;
  font-size: 1.8rem;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6d48da;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.8rem 1.6rem;
  background-color: #8662f3;
  color: #111;
  border-radius: 5px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  color: #fff;
}

/* ******************************* */
/* HERO SECTION */
/* ******************************* */

.section-hero {
  background-color: #f2eefe;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2.4rem;
}

.hero-description {
  font-size: 6.2rem;
  letter-spacing: -0.5px;

  margin-bottom: 4.8rem;
}

.hero-cta {
  display: flex;
  gap: 1.6rem;
}

.hero-img {
  width: 100%;
  border-radius: 20px;
}

/* ******************************* */
/* HOW IC WORKS SECTION*/
/* ******************************* */

.section-how {
  padding: 9.6rem 0;
  background-color: #f8f9fa;
}

.img-how {
  width: 100%;
  border-radius: 9px;
}

.how-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.how-list li {
  font-size: 2.4rem;
}

.how-list li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.how-icon {
  height: 2.4rem;
  width: 2.4rem;
}

/* ******************************* */
/* FOOTER */
/* ******************************* */

.footer {
  padding: 4.8rem 0;
  background-color: #f2eefe;
}

.container--footer {
  display: flex;
  justify-content: space-between;
}

.copyright-footer {
  font-weight: 300;
  font-size: 1.6rem;
}

.social-icon-list {
  list-style: none;
  display: flex;
  gap: 1.6rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
